*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
--bkg : #090b13;
--main-bkg:#040714;
--blue-btn:#075EE6;
--default-ftn-color:#ffffff;
--border-normal: rgba(249,249,249, 0.3);
--border-hvr: rgba(249,249,249, 0.8);
--white:rgb(249,249,249);
--shadow-effect: rgb( 0 0 0 / 69%) 0px 26px 30px -10px,
rgb( 0 0 0 / 73%) 0px 16px 10px -10px;
--bigger-shadow-effect: rgb( 0 0 0 / 80%) 0px 40px 58px -16px,
rgb( 0 0 0 / 72%) 0px 30px 22px -10px;
  
}
body{
  margin: 0;
  color: var(--default-ftn-color);
  font-family: 'Montserrat', sans-serif;
 

}
a{
  text-decoration: none;
  color: var(--default-ftn-color);


}

